# Игнорируем виртуальное окружение
venv/
env/

# Игнорируем секреты
.env
google_key.json

# Игнорируем базу данных
*.db
habits.db

# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем системные файлы Mac (раз у вас Мак)
.DS_Store